/* body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f7f6;
    padding: 20px;
}

h1 { text-align: center; color: #333; }

#product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
    padding: 20px;
}

.product-card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 15px;
    transition: transform 0.2s;
    text-align: center;
}

.product-card:hover { transform: translateY(-5px); }

.product-card img {
    width: 100%;
    height: 180px;
    object-fit: cover; 
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-card button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
} */



* {
    box-sizing: border-box;
    margin: O;
    padding: 0;
}

body {
    margin: 0;
    background: linear-gradient(105deg, #c2c6d5, #8cd2a8);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 10px 30px black;
}

h1 {
    font-size: 40px;
    margin-bottom: 18px;
    display: flex;
    justify-content: center;

}

h2 {
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: center;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

main{
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 10px 30px black;
}