body {
    min-height: 100vh;
    background: linear-gradient(135deg, #c2c6d5, #8cd2a8);
   
}


#deconnexion{
background-color: rgb(202, 137, 26);
color: white;
height: 30px;
width: 100px;
border-radius: 20px;
border: none;
cursor: pointer;
}

#deconnexion:hover{
    background-color: rgb(205, 86, 22);
}

#deconnexion:active{
    transform: scale(0.90);
}


#profil{
    background-color: grey;
    color: white;

}

#admin{
    background-color: grey;
    color: white;

}